.login-box-body{
	border-radius: 8px;
	box-shadow: 6px 6px 4px #BBB;
}
.login-bg{
	background: url("../images/bg-10.jpg") repeat left top;
}
.login-box-msg{
	color:#FC8010;
	font-size:14px; 
	font-weight:bold;
	padding: 0px 0px 14px 0px;
}
.noti{
	margin: 0px -14px 10px -14px !important;
	background: #FC8010;
	padding: 3px 9px;
	border-radius: 4px;
	color: #FFF;
}
.loginvne{
	background: url('../images/logo.png') no-repeat left center;
	background-size: 145px;
	padding-left: 178px;
}
.row>button {
	width: 50%;    
	float: left;
	border-color: #eee;
}
.row>button>a {
	width: 100%;
	float: left;
	border-color: #eee;
	color: #fff;
	text-align: center;
}